log/
mmsegmentation/
**/__pycache__
*.pyc
test_images/
models/image_CLIP
models/video_CLIP
models/video_CLIP_large
models/video_CLIP_smaller
models/video_CLIP_3
models/video_CLIP_small
models/video_CLIP_medium
models/video_CLIP_ms_old
models/video_CLIP.zip
models/samples
models/samples_new
models/samples_new_segments
models/samples_old
models/samples
models/sample_old_combined.zip
models/samples_new_segments.zip
*.mp3
models/logs
pre_trained/
test_data/
test_data.zip